#CultureBody{
    background-image: url(Bilder/culturebackground.jpg);
    background-size: cover;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#effect2{
    background-color: white;
    height: 100vh;
    width: 100%;
    margin-top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#culture{
    position: absolute;
    color: white;
    top: 25%;
    left: 42.5%;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}