#CultureBody{
    background-image: url(Bilder/culturebackground.jpg);
    background-size: cover;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#effect2{
    background-color: white;
    height: 100vh;
    width: 100%;
    margin-top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}