*{
    margin: 0px;
    padding: 0px;
}
#bildicon1{
    width:100%;
    height:100%;
}
#bildicon2{
    width:100%;
    height:100%;
    float:right;
    margin-left: 1000px;
}

.Icon{
    background-color: Red;
    width: 110px;
    height: 110px;
    float:left;
}
.Icon ul li{
    list-style:none;
    display:inline-block;
}

#meny{
    background-color: Red;
    width: 100%;
    height: 13.6vh;
    opacity: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#meny ul{
    text-align: center;
}
#meny ul li{
    list-style: none;
    display:inline-block;
    
}
#border{
    border-left: solid white;
}
#meny ul li a{
    display:block;
    
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size:20px;
    font-family: 'Raieway', sans-serif;
    letter-spacing: 10px;
    font-weight: 700;
    padding: 50px;
    border-right: solid white;
    position: sticky;
   
}
#meny ul li a:hover{
    background-color: darkred;
}

#bild{
    width:100%;
    height:100vh;
    background-image: url(Bilder/background\ test.jpg);
    background-size: cover;
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#intro{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}
#effect{
    width:70%;
    height: 50vh;
    background-color:white;
    margin:auto;
    margin-top: 50%;
}
body{
    padding: 0;
    margin: 0;
}